header {
	width: 100%;
	/* height: 100px; */
	/* border: 1px solid red; */
	font-size: 35px;
	text-align: center;
	padding: 30px 0px;
	background-color: #0572B9;
	background: -moz-linear-gradient(top, #0572B9 0%, #F0F8FF 100%);
	background: -webkit-linear-gradient(#0572B9 0%, #F0F8FF 100%);
	background: -o-linear-gradient(#0572B9 0%, #F0F8FF 100%);
	background: linear-gradient(#0572B9 0%, #F0F8FF 100%);
	font-family: "Linux Libertine",Georgia,Times,serif;
	color: #ffffff;
	text-shadow: -2px 2px #0672B9;
}

footer{
	width: 100%;
	height: 100px;
	/*border: 1px solid red;*/
	text-align: center;
	background-color: #0572B9;
	background: -moz-linear-gradient(bottom, #F0F8FF 0%, #0572B9 100%);
	background: -webkit-linear-gradient(#F0F8FF 0%, #0572B9 100%);
	background: -o-linear-gradient(#F0F8FF 0%, #0572B9 100%);
	background: linear-gradient(#F0F8FF 0%, #0572B9 100%);
	font-family: "Linux Libertine",Georgia,Times,serif;
	color: #ffffff;
	border-top: 1px solid #F0F8FF;
	vertical-align: bottom;
}

a {
	text-decoration: none;
}

a:hover {
	color: #0089DA;
}


.relatedFilms li {
	display: inline;
	list-style-type: none;
	margin: 0px 40px;
}

.relatedFilms img {
	width: 80px;
	border-radius: 3px;
	box-shadow: -2px 2px 2px #005181;
}

h1 {
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

.filmArticle {
	width: 970px;
	height: 1000px;
	margin: auto;
	/* border: 1px solid red; */
	font-family: "Linux Libertine",Georgia,Times,serif;
	padding: 0px 30px 0px 0px;
	color: #005181;
	background-color: #F0F8FF;
}

#topline { 
	width: 100%;
	height: 600px;
}

.filmPic {
	width: 440px;
	height: 600px;
	margin: 0px 30px 0px 0px;
	text-align: center;
	vertical-align: center;
	float: left;
	padding: 30px 30px 0px 30px;
}

.filmPic img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
    box-shadow: -4px 4px 4px #005181;
}

.filmDesc {
	width: 440px;
	/*border: 1px solid red;*/
	vertical-align: center;
	/* margin: 10px; */
	/* padding: 10px; */
}

.filmDetail {
	padding: 30px;
	display: inline-block;
	width: 940px;
	height: 300px;
}

.filmDetail td {
	/* width: 5%; */
	/* color: red; */
	padding: 5px 0px;
	vertical-align: top;
}

